<div class="control-section">
    <div align='center'>
        <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontainer' [primaryXAxis]='primaryXAxis'
            [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip' (load)='load($event)' [legendSettings]='legend'>
            <e-series-collection>
                <e-series [dataSource]='data' type='Bar' xName='Country' yName='GDP' name='GDP' [marker]='marker' columnSpacing=0.1> </e-series>
                <e-series [dataSource]='data' type='Bar' xName='Country' yName='WorldShare' name="Share in World's GDP" columnSpacing=0.1 [marker]='marker'> </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
    <div style="float: right; margin-right: 10px; margin-top: -5px">Source:
        <a href="https://www.gov.uk/" target='_blank'>www.gov.uk</a>
    </div>
</div>